#Import libraries
import all libraries which I used in my code

In [ ]:
import pandas as pd
import numpy as np
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.datasets import fetch_openml
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
from sklearn.model_selection import PredefinedSplit
from sklearn.datasets import make_classification
from xgboost.sklearn import XGBClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import SelectKBest, mutual_info_classif
import warnings 
warnings.filterwarnings('ignore')

#Data Preparation

## Load Data

load train & test file and read these files using (pd.read_csv)

In [ ]:
# read train data file 
# set 'id' as column index in train data
train_data = pd.read_csv("train.csv",index_col='id')
train_data

,gender,idg,condtn,wave,round,position,positin1,order,partner,pid,...,attr3_3,sinc3_3,intel3_3,fun3_3,amb3_3,attr5_3,sinc5_3,intel5_3,fun5_3,amb5_3
id,,,,,,,,,,,,,,,,,,,,,
2583,0,3,2,14,18,2,2.0,14,12,372.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6830,1,14,1,3,10,2,NaN,8,8,63.0,...,6.0,8.0,8.0,7.0,8.0,NaN,NaN,NaN,NaN,NaN
4840,1,14,1,13,10,8,8.0,10,10,331.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5508,1,38,2,9,20,18,13.0,6,7,200.0,...,8.0,9.0,8.0,8.0,6.0,NaN,NaN,NaN,NaN,NaN
4828,1,24,2,14,20,6,6.0,20,17,357.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3390,0,1,2,9,20,2,2.0,18,1,214.0,...,12.0,12.0,12.0,9.0,12.0,NaN,NaN,NaN,NaN,NaN
4130,1,24,2,9,20,19,15.0,5,6,199.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1178,0,13,2,11,21,5,5.0,3,18,290.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5016,1,10,2,7,16,6,14.0,9,10,151.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8149,0,7,2,21,22,7,7.0,2,12,542.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# read test data file 
# set 'id' as column index in train data
test_data = pd.read_csv("test.csv",index_col='id')
test_data

,gender,idg,condtn,wave,round,position,positin1,order,partner,pid,...,attr3_3,sinc3_3,intel3_3,fun3_3,amb3_3,attr5_3,sinc5_3,intel5_3,fun5_3,amb5_3
id,,,,,,,,,,,,,,,,,,,,,
934,0,5,2,2,16,3,NaN,13,13,52.0,...,5.0,7.0,8.0,6.0,8.0,NaN,NaN,NaN,NaN,NaN
6539,0,33,2,14,18,6,6.0,4,8,368.0,...,6.0,8.0,7.0,7.0,8.0,6.0,7.0,6.0,5.0,5.0
6757,1,6,2,9,20,10,16.0,15,19,212.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2275,1,26,2,2,19,15,NaN,8,10,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1052,0,29,2,7,16,7,7.0,10,5,162.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7982,0,23,2,15,19,18,18.0,14,11,407.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7299,0,5,1,13,9,4,4.0,4,8,339.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1818,1,26,2,2,19,3,NaN,15,3,23.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
937,0,19,2,9,20,11,11.0,9,2,215.0,...,9.0,7.0,12.0,12.0,9.0,NaN,NaN,NaN,NaN,NaN
6691,1,38,2,21,22,22,7.0,16,5,513.0,...,7.0,9.0,8.0,7.0,8.0,5.0,8.0,8.0,6.0,8.0

## missing values in data 

first, I tried to find precentage of mising value in eatch column. then, I drop columns that have mising value more than 76%

In [ ]:
# find precentage of mising value in each column in train data

def precentage_missing_value(train_data): # define function to calculate the precentage
  missing_value=pd.DataFrame(train_data.isnull().sum()/len(train_data))*100   # calculate the precentage of missing vall
  missing_value.columns=['percentage of missing value in columns %']
  missing_value['numbers of missing value in columns ']=pd.DataFrame(train_data.isnull().sum())  # sum missing value in data 
  return missing_value.sort_values(by='percentage of missing value in columns %',ascending=False) #get the precentage of missing vall 
    
z=precentage_missing_value(train_data)
#z

In [ ]:
# drop columns that have mising values more than 76% percentage 
empty_col=[]
for i in range (len(z)):
  if(z['percentage of missing value in columns %'][i]) >76:
    empty_col.append(z['percentage of missing value in columns %'].index[i])
print("columns that have more than 76% mising value =",empty_col)

columns that have more than 76% mising value = ['num_in_3', 'numdat_3', 'expnum', 'amb7_2', 'sinc7_2', 'shar7_2', 'attr7_2', 'intel7_2', 'fun7_2', 'shar7_3', 'attr7_3', 'sinc7_3', 'intel7_3', 'fun7_3', 'amb7_3', 'amb5_3', 'shar2_3', 'intel5_3', 'attr5_3', 'fun5_3', 'sinc5_3']

In [ ]:
# in transformation (always make a copy before you assign) train data
train_data2 =train_data.copy() 
test_data2 =test_data.copy()

# drop columns that have more than 76% missing values  in train data
# drop this column (train_data['field]) because we have another column which is (train_data['field_cd']) that indicates the same meaning of it but in a numerical way 
# drop  ('idg','pid','zipcode')columns that  have no  impact // useless columns

train_data2 = train_data.drop(['num_in_3','numdat_3','expnum','amb7_2','sinc7_2','shar7_2','fun7_2','intel7_2','attr7_2','attr7_3','sinc7_3','intel7_3','fun7_3','amb7_3','shar7_3',
 'shar2_3','attr5_3','sinc5_3','intel5_3','fun5_3','amb5_3','career','field','idg','pid','zipcode'],axis=1)

# drop columns that have more than 76% missing values  in test data
test_data2 = test_data.drop(['num_in_3','numdat_3','expnum','amb7_2','sinc7_2','shar7_2','fun7_2','intel7_2','attr7_2','attr7_3','sinc7_3','intel7_3','fun7_3','amb7_3','shar7_3',
 'shar2_3','attr5_3','sinc5_3','intel5_3','fun5_3','amb5_3','career','field','idg','pid','zipcode'],axis=1)

## convert object data to categorical
frist, I tried to find columns which it's data type is object in train data &test data. then convert object data to catigorical (encoding to categorical)

In [ ]:
train_data2.select_dtypes(include='object') # find columns which it's data type is object in train data

,undergra,mn_sat,tuition,from,income
id,,,,,
2583,University of Michigan-Ann Arbor,"1,290.00","21,645.00","Palo Alto, CA",NaN
6830,NaN,NaN,NaN,"Boston, MA",NaN
4840,"Rizvi College of Architecture, Bombay University",NaN,NaN,"Bombay, India",NaN
5508,NaN,NaN,NaN,"Washington, DC","45,300.00"
4828,Harvard College,"1,400.00","26,019.00",Midwest USA,"46,138.00"
...,...,...,...,...,...
3390,NaN,NaN,NaN,New York,"65,708.00"
4130,NaN,NaN,NaN,Colombia,NaN
1178,University of Washington,"1,155.00","13,258.00",Seattle,"37,881.00"
5016,NaN,NaN,NaN,Canada,NaN
8149,Hamilton College,"1,280.00","27,350.00","Cambridge, MA",NaN

In [ ]:
test_data2.select_dtypes(include='object')  # find columns which data type is object in test data

                 undergra    mn_sat    tuition           from     income
id
934                   NaN       NaN        NaN      Hong Kong        NaN
6539    wellesley college  1,341.00  25,504.00    atlanta, ga  36,223.00
6757                  NaN       NaN        NaN  San Francisco  55,080.00
2275                  NaN       NaN        NaN       Brooklyn  26,482.00
1052                  NaN       NaN        NaN    Atlanta, GA  21,590.00
...                   ...       ...        ...            ...        ...
7982             Columbia  1,430.00  26,908.00      Hong Kong        NaN
7299  Bucknell University  1,290.00  25,335.00       Erie, PA        NaN
1818                  NaN       NaN        NaN       Brooklyn  26,482.00
937                   NaN       NaN        NaN         Vestal  42,640.00
6691          LUISS, Rome       NaN        NaN          Italy        NaN

[2469 rows x 5 columns]

In [ ]:
# categorical encoding of gender

# categorical encoding of undergra 
train_data2['undergra'] = train_data2['undergra'].astype("category")

# categorical encoding of mn_sat 
train_data2['mn_sat'] = train_data2['mn_sat'].astype("category")

# categorical encoding of tuition 
train_data2['tuition'] = train_data2['tuition'].astype("category")

# categorical encoding of form 
train_data2['from'] = train_data2['from'].astype("category")

# categorical encoding of zipcode 
train_data2['zipcode'] = train_data2['zipcode'].astype("category")

# categorical encoding of income	 
train_data2['income'] = train_data2['income'].astype("category")

In [ ]:
# categorical encoding of gender

# categorical encoding of undergra 
test_data2['undergra'] = test_data2['undergra'].astype("category")

# categorical encoding of mn_sat 
test_data2['mn_sat'] = test_data2['mn_sat'].astype("category")

# categorical encoding of tuition 
test_data2['tuition'] = test_data2['tuition'].astype("category")

# categorical encoding of form 
test_data2['from'] = test_data2['from'].astype("category")

# categorical encoding of zipcode 
test_data2['zipcode'] = test_data2['zipcode'].astype("category")

# categorical encoding of income	 
test_data2['income'] = test_data2['income'].astype("category")

In [ ]:
y= train_data2['match'] # (match) column for vector
X =train_data2.drop('match', axis=1) # all columns except (match) column for matrix
print('original shape', X.shape, y.shape) # show shap of data

original shape (5909, 164) (5909,)

In [ ]:
train_data2.info() # know data type of each column in data

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5909 entries, 2583 to 8149
Columns: 165 entries, gender to amb3_3
dtypes: float64(151), int64(9), object(5)
memory usage: 7.5+ MB

#Pipeline

A machine learning pipeline is used to help automate machine learning workflows, They work by allowing a set of data to be transformed and associated in a model

Any preprocessing steps, in fact, might be regarded part of the model, with many configurations for each step.

We combine preprocessing steps and models into a single tunable pipeline using hyper-parameters.

In [ ]:
# here I extract numeric features and categorical features names

# numeric features can be selected by: (based on the train_data2.info() output )
features_numeric = list(X.select_dtypes(include=['float64', 'int64']))

# categorical features can be selected by: (based on the train_data2.info() output )
features_categorical = list(X.select_dtypes(include=['category']))

print('numeric features:', features_numeric)
print('categorical features:', features_categorical)

numeric features: ['gender', 'condtn', 'wave', 'round', 'position', 'positin1', 'order', 'partner', 'int_corr', 'samerace', 'age_o', 'race_o', 'pf_o_att', 'pf_o_sin', 'pf_o_int', 'pf_o_fun', 'pf_o_amb', 'pf_o_sha', 'attr_o', 'sinc_o', 'intel_o', 'fun_o', 'amb_o', 'shar_o', 'like_o', 'prob_o', 'met_o', 'age', 'field_cd', 'race', 'imprace', 'imprelig', 'goal', 'date', 'go_out', 'career_c', 'sports', 'tvsports', 'exercise', 'dining', 'museums', 'art', 'hiking', 'gaming', 'clubbing', 'reading', 'tv', 'theater', 'movies', 'concerts', 'music', 'shopping', 'yoga', 'exphappy', 'attr1_1', 'sinc1_1', 'intel1_1', 'fun1_1', 'amb1_1', 'shar1_1', 'attr4_1', 'sinc4_1', 'intel4_1', 'fun4_1', 'amb4_1', 'shar4_1', 'attr2_1', 'sinc2_1', 'intel2_1', 'fun2_1', 'amb2_1', 'shar2_1', 'attr3_1', 'sinc3_1', 'fun3_1', 'intel3_1', 'amb3_1', 'attr5_1', 'sinc5_1', 'intel5_1', 'fun5_1', 'amb5_1', 'attr', 'sinc', 'intel', 'fun', 'amb', 'shar', 'like', 'prob', 'met', 'match_es', 'attr1_s', 'sinc1_s', 'intel1_s', 'fun1_s', 'amb1_s', 'shar1_s', 'attr3_s', 'sinc3_s', 'intel3_s', 'fun3_s', 'amb3_s', 'satis_2', 'length', 'numdat_2', 'attr1_2', 'sinc1_2', 'intel1_2', 'fun1_2', 'amb1_2', 'shar1_2', 'attr4_2', 'sinc4_2', 'intel4_2', 'fun4_2', 'amb4_2', 'shar4_2', 'attr2_2', 'sinc2_2', 'intel2_2', 'fun2_2', 'amb2_2', 'shar2_2', 'attr3_2', 'sinc3_2', 'intel3_2', 'fun3_2', 'amb3_2', 'attr5_2', 'sinc5_2', 'intel5_2', 'fun5_2', 'amb5_2', 'you_call', 'them_cal', 'date_3', 'attr1_3', 'sinc1_3', 'intel1_3', 'fun1_3', 'amb1_3', 'shar1_3', 'attr4_3', 'sinc4_3', 'intel4_3', 'fun4_3', 'amb4_3', 'shar4_3', 'attr2_3', 'sinc2_3', 'intel2_3', 'fun2_3', 'amb2_3', 'attr3_3', 'sinc3_3', 'intel3_3', 'fun3_3', 'amb3_3']
categorical features: []

## What preprocessing steps are used?

**Handling the missing data**

here we handled any missing value using **SimpleImputer** which is a scikit-learn class which is helpful in handling the missing data in the predictive model dataset.

**Applying StandardScaler** to resize the distribution of values in the data set 

**Applying OneHotEncoder** to convert categorical features as a one-hot numeric array.

In [ ]:
np.random.seed(0)

# define a pipe line for numeric feature preprocessing
# we gave them a name so we can set their hyperparameters
transformer_numeric = Pipeline(
    steps=[
        ('imputer', SimpleImputer()),
        ('scaler', StandardScaler())]
)

# define a pipe line for categorical feature preprocessing
# we gave them a name so we can set their hyperparameters
transformer_categorical = Pipeline(
    steps=[
        ('imputer', SimpleImputer(strategy='constant')),
        ('onehot', OneHotEncoder(handle_unknown='ignore'))
    ]
)
# define the preprocessor 
# we gave them a name so we can set their hyperparameters
# we also specify what are the categorical 
preprocessor = ColumnTransformer(
    transformers=[
        ('num', transformer_numeric, features_numeric),
        ('cat', transformer_categorical, features_categorical)
    ]
)

**What is the experimental protocol used and how was it carried out?**

here I used Cross validation with (random ,bayes , grid search ) and using validation set 

Cross–validation is a method of evaluating a machine learning model's ability to predict new data.

Validation set is a set of data that is separate from the training set and is used to verify the performance of our model during training.

#XGBoost Classifier Model 
XGBoost machine learning models provide the best combination of prediction performance and processing time when compared to other algorithms, It's also a library for creating gradient boosting tree models that are both quick and high-performing. That XGBoost outperforms the competition on a variety of tough machine learning tasks becuse it is  powerful enough to deal with all sorts of irregularities of data. So I will use this model to try to get a highly prediction

In [ ]:
# combine the preprocessor with the model as a full tunable pipeline
# we gave them a name so we can set their hyperparameters
full_pipline = Pipeline(
    steps=[
        ('preprocessor', preprocessor),
        ('my_classifier', 
           XGBClassifier(),
        )
    ]
)
full_pipline
full_pipline=full_pipline.fit(X,y)

**To improve and get fully use the benefits  of  XGBoost model,  hyper  parameter tuning is must.**

And It is very difficult to get answers to practical questions like

*   Which set of parameters you should tune ?
*   What is the ideal value of these parameters to obtain optimal output ? 

So I tried to tune a list of parameters of XGBoost hyper parameter such as   **(learning_rate, max_depth , gamma ,n_estimators)**

**learning_rate :**Step size shrinkage used in update to prevents overfitting.[1]

it's value must be between 0 and 1 to optimizes the chances to reach the best optimum

I choosed a list that has values = [0.01,0.05,0.1,0.4] 

that it lay on the range from 0.01 to 0.3 

and it's Default = 0.3. 




**max_depth:** which mean the maximum depth of a tree we use it.

if I use a high max_depth, performance  might increase but the model's complexity will increase and lead to overfit on the other hand if I choose a very small max_depth if made my model can't able to learn well and lead to underfit 
so I choosed a list of max_depth paramters to get the most suitable max_depth to make our model increase it's performance 

I choosed a list that has values = [5,6,7,9]

**gamma:** which mean  is a pseudo-regularisation parameter (Lagrangian multiplier), and depends on the other parameters. The higher Gamma is, the higher the regularization. It can be any integer. Default is 0[3]

I choosed a list that has values = [ 0.1, 0.2 , 0.3]


**n_estimators:** which mean  number of trees in our ensemble.

why we use this hyper parameter in our model?!!!

The reason is in the way that the boosted tree model is constructed, sequentially where each new tree attempts to model and correct for the errors made by the sequence of previous trees.[2]

I choosed a list that has values = [50,100,150,200,250] 

it's Default = 100.

In [ ]:
# set of hyperparameters wich use with XBBoost classifier model to get high performance
# # `__` denotes an attribute of the preceeding name
param_grid = {
 'preprocessor__num__imputer__strategy': ['mean'],  # preprocessor__num__imputer__strategy points to preprocessor->num (a Pipeline)-> imputer -> strategy
  'my_classifier__learning_rate' : [0.01,0.05,0.1,0.3], # my_classifier__n_estimators points to my_classifier->learning_rate
 'my_classifier__max_depth' : [5,6,7,9],                # my_classifier__n_estimators points to my_classifier->max_depth 
 'my_classifier__gamma': [ 0.1, 0.2 , 0.3],             # my_classifier__n_estimators points to my_classifier->gamma
 'my_classifier__n_estimators': [50,100,150,200,250]    # my_classifier__n_estimators points to my_classifier->n_estimators 
}

##Trial_1 using XGBoost model with Random Search method

**Random search** is a technique where random combinations of the hyperparameters are used to find the best solution for the built model. and yet it has proven to yield better results comparatively.[4] So I trid to use rondom search to get better results and high accuracy.

**Expectation**

I tried random search with XGBoost classifier model and set of hyperparameters which must be tune to get a high performance with XGBoost model.

my expectation that I will get a high accuraccy 


**Observation** 

After running the model I found that the best hyperparameters that defined with rondom search method are

n_estimators = 250

max_depth = 6

learning_rate = 0.05

gamma =  0.2

'best score 0.8832890429918686 ---> that the model given me 

score on kaggle = Score: 0.88061 ---> I got on kaggle

**Plan**

I will try to use bayesian search method with the XGBoost and the same set of hyperparameter

In [ ]:
# define rondom search
rondom_search = RandomizedSearchCV(
    full_pipline, param_grid, cv=10  #cv=10 means two-fold cross-validation
     , verbose=1, n_jobs=2,          # n_jobs means the cucurrent number of jobs
    # number of random trials
    n_iter=10,
    scoring='roc_auc')

rondom_search.fit(X, y)

print('best score {}'.format(rondom_search.best_score_))
print('best score {}'.format(rondom_search.best_params_))

Fitting 10 folds for each of 10 candidates, totalling 100 fits
best score 0.8832890429918686
best score {'preprocessor__num__imputer__strategy': 'mean', 'my_classifier__n_estimators': 250, 'my_classifier__max_depth': 6, 'my_classifier__learning_rate': 0.05, 'my_classifier__gamma': 0.2}

In [ ]:
submission = pd.DataFrame()

submission['id'] = test_data.index

submission['match'] = rondom_search.predict_proba(test_data)[:,1]

submission.to_csv('sample_submission_walkthrough_1.csv', index=False) #  Score: 0.88061

In [ ]:
!pip install scikit-optimize

Collecting scikit-optimize
  Downloading scikit_optimize-0.9.0-py2.py3-none-any.whl (100 kB)
     |████████████████████████████████| 100 kB 5.1 MB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-optimize) (1.1.0)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from scikit-optimize) (1.0.2)
Collecting pyaml>=16.9
  Downloading pyaml-21.10.1-py2.py3-none-any.whl (24 kB)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.7/dist-packages (from scikit-optimize) (1.21.5)
Requirement already satisfied: scipy>=0.19.1 in /usr/local/lib/python3.7/dist-packages (from scikit-optimize) (1.4.1)
Requirement already satisfied: PyYAML in /usr/local/lib/python3.7/dist-packages (from pyaml>=16.9->scikit-optimize) (3.13)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->scikit-optimize) (3.1.0)
Installing collected packages: pyaml, scikit-optimize
Successfully installed pyaml-21.10.1 scikit-optimize-0.9.0

##Trial_2 using XGBoost model with bayesian search method with Cross validation 
Bayesian optimization methods are efficient because they select hyperparameters in an informed manner. By prioritizing hyperparameters that appear more promising from past results, Bayesian methods can find the best hyperparameters in lesser time (in fewer iterations)[5] So I tried to use Bayes search method to get high performance .

**Expectation**

I expect that my model may get a high accuracy and make a very good prediction with using XGBoost model with appropiate 
hyperparametr and bayes search method

**Observation**

after running the model I found that the best hyperparameter that defined with XGBoost classifier using bayes search method is 

gamma = 0.2

learning_rate = 0.1

max_depth = 7

n_estimators = 50


best score 0.8674900341277352

Score: 0.87616 on kaggle

The accuracy  was lower than the accuracy I got with using random search and the hyperparameter are changed 

**Plan**

I will use the same  method (bayes search method) use validation set insted of cross validation with the same Classifer (XGBoost model) and the same set of hyperparameter.

In [ ]:
from skopt import BayesSearchCV

# define ranges for bayes search
bayes_search = BayesSearchCV(
    full_pipline,
    param_grid,
    # number of trials 
    n_iter=10,
    random_state=0,
    verbose=1,
    #cv=10 means ten-fold cross-validation
    cv=10,
)

bayes_search.fit(X, y)

print('best score {}'.format(bayes_search.best_score_))
print('best score {}'.format(bayes_search.best_params_))

Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
Fitting 10 folds for each of 1 candidates, totalling 10 fits
best score 0.8674900341277352
best score OrderedDict([('my_classifier__gamma', 0.2), ('my_classifier__learning_rate', 0.1), ('my_classifier__max_depth', 7), ('my_classifier__n_estimators', 50), ('preprocessor__num__imputer__strategy', 'mean')])

In [ ]:
submission = pd.DataFrame()

submission['id'] = test_data.index

submission['match'] = bayes_search.predict_proba(test_data)[:,1]

submission.to_csv('sample_submission_walkthrough_2.csv', index=False) # Score: 0.87616 on kaggle

## Trial_3 using XGBoost model with Bayes Search method use  validation set

**Expectation**

I expect that using bayes search method with validation set using XGBoost model and the same set hyperparameter may be faster than using bayes search with cross validation (take smaller time in running the code) and may give me higher accuracy

**Observation**

after running the model I found that The accuracy was the higher than using bayes search with cross validation and the model run faster than using bayes search with cross validation 

best hyperparameter gamma = 0.3

learning_rate = 0.3

max_depth = 5 

n_estimators = 150

preprocessor__num__imputer__strategy ='mean')


best score 0.8870976020366265 --->  that model given me

Score on kaggle: 0.87795  ----> I got on kaggle

**Plan**

I will use another methode(grid search) with the same model XGBoost model with the same hyperparameter

In [ ]:
from skopt import BayesSearchCV

# Further split the original training set to a train and a validation set
X_train2, X_val, y_train2, y_val = train_test_split(
    X, y, train_size = 0.8, stratify = y, random_state = 2022)

# Create a list where train data indices are -1 and validation data indices are 0
# X_train2 (new training set), X_train
split_index = [-1 if x in X_train2.index else 0 for x in X.index]

# Use the list to create PredefinedSplit
pds = PredefinedSplit(test_fold = split_index)

barys_search_= BayesSearchCV(
    full_pipline, param_grid, cv=pds, verbose=1, n_jobs=2, 
    scoring='roc_auc')

# here we still use X_train; but the grid search model
# will use our predefined split internally to determine 
# which sample belongs to the validation set
barys_search_.fit(X, y)

print('best score {}'.format(barys_search_.best_score_))
print('best score {}'.format(barys_search_.best_params_))

Fitting 1 folds for each of 1 candidates, totalling 1 fits
Fitting 1 folds for each of 1 candidates, totalling 1 fits
Fitting 1 folds for each of 1 candidates, totalling 1 fits
Fitting 1 folds for each of 1 candidates, totalling 1 fits
Fitting 1 folds for each of 1 candidates, totalling 1 fits
Fitting 1 folds for each of 1 candidates, totalling 1 fits
Fitting 1 folds for each of 1 candidates, totalling 1 fits
Fitting 1 folds for each of 1 candidates, totalling 1 fits
Fitting 1 folds for each of 1 candidates, totalling 1 fits
Fitting 1 folds for each of 1 candidates, totalling 1 fits
Fitting 1 folds for each of 1 candidates, totalling 1 fits
Fitting 1 folds for each of 1 candidates, totalling 1 fits
Fitting 1 folds for each of 1 candidates, totalling 1 fits
Fitting 1 folds for each of 1 candidates, totalling 1 fits
Fitting 1 folds for each of 1 candidates, totalling 1 fits
Fitting 1 folds for each of 1 candidates, totalling 1 fits
Fitting 1 folds for each of 1 candidates, totalling 1 fits
Fitting 1 folds for each of 1 candidates, totalling 1 fits
Fitting 1 folds for each of 1 candidates, totalling 1 fits
Fitting 1 folds for each of 1 candidates, totalling 1 fits
Fitting 1 folds for each of 1 candidates, totalling 1 fits
Fitting 1 folds for each of 1 candidates, totalling 1 fits
Fitting 1 folds for each of 1 candidates, totalling 1 fits
Fitting 1 folds for each of 1 candidates, totalling 1 fits
Fitting 1 folds for each of 1 candidates, totalling 1 fits
Fitting 1 folds for each of 1 candidates, totalling 1 fits
Fitting 1 folds for each of 1 candidates, totalling 1 fits
Fitting 1 folds for each of 1 candidates, totalling 1 fits
Fitting 1 folds for each of 1 candidates, totalling 1 fits
Fitting 1 folds for each of 1 candidates, totalling 1 fits
Fitting 1 folds for each of 1 candidates, totalling 1 fits
Fitting 1 folds for each of 1 candidates, totalling 1 fits
Fitting 1 folds for each of 1 candidates, totalling 1 fits
Fitting 1 folds for each of 1 candidates, totalling 1 fits
Fitting 1 folds for each of 1 candidates, totalling 1 fits
Fitting 1 folds for each of 1 candidates, totalling 1 fits
Fitting 1 folds for each of 1 candidates, totalling 1 fits
Fitting 1 folds for each of 1 candidates, totalling 1 fits
Fitting 1 folds for each of 1 candidates, totalling 1 fits
Fitting 1 folds for each of 1 candidates, totalling 1 fits
Fitting 1 folds for each of 1 candidates, totalling 1 fits
Fitting 1 folds for each of 1 candidates, totalling 1 fits
Fitting 1 folds for each of 1 candidates, totalling 1 fits
Fitting 1 folds for each of 1 candidates, totalling 1 fits
Fitting 1 folds for each of 1 candidates, totalling 1 fits
Fitting 1 folds for each of 1 candidates, totalling 1 fits
Fitting 1 folds for each of 1 candidates, totalling 1 fits
Fitting 1 folds for each of 1 candidates, totalling 1 fits
Fitting 1 folds for each of 1 candidates, totalling 1 fits
Fitting 1 folds for each of 1 candidates, totalling 1 fits
best score 0.8870976020366265
best score OrderedDict([('my_classifier__gamma', 0.3), ('my_classifier__learning_rate', 0.3), ('my_classifier__max_depth', 5), ('my_classifier__n_estimators', 150), ('preprocessor__num__imputer__strategy', 'mean')])

In [ ]:
submission = pd.DataFrame()

submission['id'] = test_data.index

submission['match'] = barys_search_.predict_proba(test_data)[:,1]

submission.to_csv('sample_submission_walkthrough_6.csv', index=False) #Score: 0.87795 on kaggle

##Trail_4  using XGBoost model with Grid Search method use cross validation

We can tune the hyperparameters (including different preprocessing configurations using **cross-validation and grid-search**).

**Grid search** is a tuning technique that attempts to compute the optimum values of hyperparameters. It is an exhaustive search that is performed on a the specific parameter values of a model.[6] 

here I used grid search method with XGBoost classifier model to tune the hyperparameter to get high accurracy 

**Expectation**

I expect that using gride search method with cross validation with XGBoost model and the same set hyperparamete may give me a higher accuracy 

**Observation**

after running the model I found that The accuracy was the highest one I got when using XGBoost classifier model and the most appropiat hyperpater with XGBoost model is 

gamma: 0.1

learning_rate: 0.05

max_depth: 5

n_estimators: 250 

best score 0.8850648975774842 ---> that model given me

on kaggle Score: 0.88625 ----> I got on kaggle

**Plan**

I will use another model (Logistic regrission) with set of hyperparameter and with different methods

In [ ]:
# Grid Search with Cross-validation
grid_search_cross = GridSearchCV(
    full_pipline, param_grid, cv=5, verbose=1, n_jobs=2, # cv=5 means two-fold cross-validation
                                                        # n_jobs means the cucurrent number of jobs
    scoring='roc_auc')

grid_search_cross.fit(X, y)

print('best score {}'.format(grid_search_cross.best_score_))
print('best score {}'.format(grid_search_cross.best_params_))

Fitting 5 folds for each of 240 candidates, totalling 1200 fits
best score 0.8850648975774842
best score {'my_classifier__gamma': 0.1, 'my_classifier__learning_rate': 0.05, 'my_classifier__max_depth': 5, 'my_classifier__n_estimators': 250, 'preprocessor__num__imputer__strategy': 'mean'}

In [ ]:
submission = pd.DataFrame()

submission['id'] = test_data2.index

submission['match'] = grid_search_cross.predict_proba(test_data2)[:,1]

submission.to_csv('sample_submission_walkthrough_3.csv', index=False)  #Score: 0.87440  on kaggle

# best score 0.8844237237290882
# best score {'my_classifier__gamma': 0.1, 'my_classifier__learning_rate': 0.1, 'my_classifier__max_depth': 9, 'my_classifier__n_estimators': 250, 'preprocessor__num__imputer__strategy': 'mean'}
# on kaggle Score: 0.88625

# LogisticRegression Classifier Model

We use Logistic regression to understand the relationship between the dependent variable and one or more independent variables by estimating probabilities using a logistic regression equation.

In [ ]:
# combine the preprocessor with the model as a full tunable pipeline
# we gave them a name so we can set their hyperparameters
full_pipline = Pipeline(
    steps=[
        ('preprocessor', preprocessor),
        ('my_classifier', 
           LogisticRegression(),
        )
    ]
)
full_pipline

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('num',
                                                  Pipeline(steps=[('imputer',
                                                                   SimpleImputer()),
                                                                  ('scaler',
                                                                   StandardScaler())]),
                                                  ['gender', 'idg', 'condtn',
                                                   'wave', 'round', 'position',
                                                   'positin1', 'order',
                                                   'partner', 'pid', 'int_corr',
                                                   'samerace', 'age_o',
                                                   'race_o', 'pf_o_att',
                                                   'pf_o_sin', 'pf_o_int',
                                                   'pf_o_fun', 'pf_o_amb',
                                                   'pf_o_sha', 'attr_o',
                                                   'sinc_o', 'intel_o', 'fun_o',
                                                   'amb_o', 'shar_o', 'like_o',
                                                   'prob_o', 'met_o', 'age', ...]),
                                                 ('cat',
                                                  Pipeline(steps=[('imputer',
                                                                   SimpleImputer(strategy='constant')),
                                                                  ('onehot',
                                                                   OneHotEncoder(handle_unknown='ignore'))]),
                                                  ['field', 'undergra',
                                                   'mn_sat', 'tuition', 'from',
                                                   'zipcode', 'income'])])),
                ('my_classifier', LogisticRegression())])

**Hyperparameter Tuning** 

 Hyperparameters are an essential aspect of machine learning process. as they control the overall behaviour of a machine learning model. The ultimate goal is to find an optimal combination of hyperparameters  to give better results.

So I tried to tune a list of parameters of Logisticregression's  hyper parameter such as **( penalty , C , solver )**

**penalty** it's values is  ‘l1’, ‘l2’, ‘elasticnet’, ‘none’.

Penalty is used to specify the norm used in the penalization 

The default value is ’l2’.

**C** which mean inverse of regularization strength in Logistic Regression.and 
 it be in range ( 0.001 , 0.01 , 0.1 , 1 , 10 )

**solver** It provides options to choose solver algorithm for optimization.
it's parameter 'liblinear','newton-cg', 'lbfgs'

In [ ]:
param_grid={
    'preprocessor__num__imputer__strategy': ['mean'],
    'my_classifier__penalty' : ['none','l1','l2','elasticnet'],
    'my_classifier__C' : [100, 10, 1.0, 0.1, 0.01],
    'my_classifier__solver': [ 'liblinear','newton-cg', 'lbfgs']
}

##Trial_5 using Logistic Regression model with random search method

**Random search** is a technique where random combinations of the hyperparameters are used to find the best solution for the built model. and yet it has proven to yield better results comparatively.[4]
 So I trid to use rondom search to get better results and high accuracy. 

**Expectation**

I tried random search with Logistic regression classifer model and list of hyperparameters tuned to get a high performance with Logistic regression model.

my expectation that the accuraccy may not be very high like using XGBoost model


**Observation** 

After running the model I found that the best hyperparameters that defined with random search method are

C =  0.01

penalty = l2

solver' = newton-cg

preprocessor__num__imputer__strategy'=  'mean'


best score 0.8594276094276095 ---> that the model given me 

Score: 0.86986 on kaggle ---> I got on kaggle

**Plan**

I will try to use grid search with (validation set) method using  Logistic regression model and the same set of hyperparameters

In [ ]:
#Further split the original training set to a train and a validation set
X_train2, X_val, y_train2, y_val = train_test_split(
    X, y, train_size = 0.8, stratify = y, random_state = 2022)

# Create a list where train data indices are -1 and validation data indices are 0
# X_train2 (new training set), X_train
split_index = [-1 if x in X_train2.index else 0 for x in X.index]

# Use the list to create PredefinedSplit
pds = PredefinedSplit(test_fold = split_index)
#
random_search_lr = RandomizedSearchCV(
    full_pipline, param_grid, cv=pds, verbose=1, n_jobs=2, 
    # number of random trials
    n_iter=10,
    scoring='roc_auc')

random_search_lr.fit(X, y)

print('best score {}'.format(random_search_lr.best_score_))
print('best score {}'.format(random_search_lr.best_params_))

Fitting 1 folds for each of 10 candidates, totalling 10 fits
best score 0.8594276094276095
best score {'preprocessor__num__imputer__strategy': 'mean', 'my_classifier__solver': 'newton-cg', 'my_classifier__penalty': 'l2', 'my_classifier__C': 0.01}

In [ ]:
submission = pd.DataFrame()

submission['id'] = test_data2.index

submission['match'] = random_search_lr.predict_proba(test_data2)[:,1]

submission.to_csv('sample_submission_walkthrough_4.csv', index=False) # Score: 0.86986 on kaggle

##Trail_6:  using Logistic Regression model with grid search method

In **grid search**, we test every combination of values from a pre-defined list of hyper-parameters and pick the best one based on the cross validation score or validation set 

**Expectation**

I tried grid search with Logistic regression  classifier model and set of hyperparameters tuned to get a high performance with Logistic regression model.

to find which method with Logistic regression is better (random search or grid search)

my expectation that the accuraccy may be higher than using Logistic regression  model with grid search method  


**Observation** 

A fter running the model I found that the best hyperparameters that defined with grid search method are

using grid search method with Logistic regression classifier gives me higher accuracy than using random search method

best hyperparameters
C = 0.01

penalty = l1

solver = liblinear

preprocessor__num__imputer__strategy= 'mean'

best score 0.8729965060174144 ---> the model given me

In [ ]:
# Further split the original training set to a train and a validation set
X_train2, X_val, y_train2, y_val = train_test_split(
    X, y, train_size = 0.8, stratify = y, random_state = 2022)

# Create a list where train data indices are -1 and validation data indices are 0
# X_train2 (new training set), X_train
split_index = [-1 if x in X_train2.index else 0 for x in X.index]

# Use the list to create PredefinedSplit
pds = PredefinedSplit(test_fold = split_index)

grid_search_lr = GridSearchCV(
    full_pipline, param_grid, cv=pds, verbose=1, n_jobs=2, 
    scoring='roc_auc')

# here we still use X_train; but the grid search model
# will use our predefined split internally to determine 
# which sample belongs to the validation set
grid_search_lr.fit(X, y)

print('best score {}'.format(grid_search_lr.best_score_))
print('best score {}'.format(grid_search_lr.best_params_))

Fitting 1 folds for each of 30 candidates, totalling 30 fits
best score 0.8729965060174144
best score {'my_classifier__C': 0.01, 'my_classifier__penalty': 'l1', 'my_classifier__solver': 'liblinear', 'preprocessor__num__imputer__strategy': 'mean'}

In [ ]:
submission = pd.DataFrame()

submission['id'] = test_data.index

submission['match'] = grid_search_lr.predict_proba(test_data)[:,1]

submission.to_csv('sample_submission_walkthrough_5.csv', index=False)

# Problem Formulation

**Define the problem:** is predicting the outcome of a specific speed dating session based on the profile of two people and implement a recommendation system to better match people in speed dating events but the given data has a lot of missing values that needed to handel .

**What is the input?**
our inputs is a set of features (information about the dating session) which help us to predict the match

**What is the output?** The output is a probability predection (0-1) that the dating session will lead to a successful match or not 

**What data mining function is required?** The data mining function is binary classification 

**What could be the challenges?**  
The challenges are that : 

data  has a lot of missing values and we should handel it 

dataset is highly unbalanced (mostly unmatched)

need to implement a model to make a prediction of match or not and search for the hyperparameters to get the higher performance of our model 

**What is the impact?** The impact is that implement a model (make application) that can predict if the match will happend or not based on questions the both side answer 

**What is an ideal solution?**

I found The which given me  ideal dolution (the highest accuracy ) was XGBoost model with Grid Search method use cross validation

#The Questions

**1- Why a simple linear regression model (without any activation function) is not good for classification task, compared to Perceptron/Logistic regression?**

Linear Regression is unsuitable for classification for two reasons. The first is that Linear Regression is dealing with continuous values, whereas classification problems demand discrete values. The second problem is that when new data points are added, the threshold value shifts.

Unlike Linear Regression, Logistic Regression works with discrete values and keeps the threshold value constant even when new data points are introduced. For classification tasks, logistic regression is preferable.

perceptron prophesy a binary class label with sign(wTxi), whereas linear regression predicts a real value with (wTxi).


**2- What's a decision tree and how it is different to a logistic regression model?**

**A decision tree** is a sort of supervised machine learning that categorises or predicts outcomes based on the answers to a previous set of questions.

**how it is different to a logistic regression model ?**

*   Decision tree can be trained on a small training set but Logistic regression requires a large enough training set
*   Decision Trees are a non-parametric model with no pre-defined parameters. and does feature selection implicitly opposite to  Logistic regression which is a parametric model defined by having parameters multiplied by independent variables to predict the dependent variable.



*   In Decission tree there is no  assumptions on the underlying distribution of the data...
other than assumptions are made on response (or dependent) variable, with binomial or Bernoulli distribution in Logistic regression


**3-What's the difference between grid search and random search?**

**Grid search** In grid search, we test every combination of values from a 
pre-defined list of hyper-parameters and pick the best one based on the cross validation score or validation set 

**Random search** It tries a variety of different values at random (we have to define the number iterations).
It is effective at evaluating a large range of values and, in most cases, quickly arrives at a very good combination; however, it does not guarantee the optimal parameter combination


**4-What's the difference between bayesian search and random search?**

**Bayesian Search** is a method of solving a search problem that is more efficient than randomly searching all options.

#References

[1] https://xgboost.readthedocs.io/en/latest/parameter.html

[2] https://machinelearningmastery.com/tune-number-size-decision-trees-xgboost-python/

[3] https://towardsdatascience.com/xgboost-fine-tune-and-optimize-your-model-23d996fab663

[4] https://analyticsindiamag.com/why-is-random-search-better-than-grid-search-for-machine-learning/#:~:text=Random%20search%20is%20a%20technique,yields%20high%20variance%20during%20computing.

[5] https://medium.com/analytics-vidhya/comparison-of-hyperparameter-tuning-algorithms-grid-search-random-search-bayesian-optimization-5326aaef1bd1

[6] https://medium.com/fintechexplained/what-is-grid-search-c01fe886ef0a